* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #333;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* section Hero Starts */
.section-hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #116a77;
  color: #dfe3ea;
  justify-content: center;
}

.hero-img {
  width: 100%;
  display: block;
}

.hero-text-box {
  padding: 12.8rem 4.8rem 4.8rem 4.8rem;
  text-align: left;
}

.hero-intro {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.hero-heading {
  font-size: 6.4rem;
  margin-bottom: 0.8rem;
}

.hero-desc {
  font-size: 2.4rem;
  margin-bottom: 4.8rem;
}

.hero-text-box div {
  text-align: center;
  margin-bottom: 8rem;
}

.resume-btn {
  font-size: 2.4rem;
  text-decoration: none;
  color: inherit;
  background-color: #072a30;
  display: inline-block;
  padding: 1.2rem;
  border-radius: 9px;
}

.hero-icon-section {
  display: flex;
  justify-content: center;
  gap: 3.2rem;
}

.social-logo {
  height: 3.2rem;
  width: 3.2rem;
  color: #072a30;
  background-color: #dfe3ea;
  border-radius: 50%;
  padding: 0.8rem;
}


.hero-description{
  background-color: #0f1012;
  color: #dfe3ea;
  padding: 2.4rem;
  text-align: left;
}

.desc-text{
  font-size: 1.8rem;
  line-height: 2.4rem;
}

/* About section starts */
.section-about{
  background-color: #116a77;
  padding-top: 8rem;
  color: #dfe3ea;
}

.about-header, .about-content{
  width: 50%;
  transform: translateX(50%);
}



.about-heading{
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  border: 5px solid black;
  display: inline-block;
  padding: 0.8rem 4.8rem;
  margin-bottom: 4.8rem;
}

.about-intro-text{
  font-size: 1.8rem;
  margin-bottom: 4.8rem;
}

.about-subheading{
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-weight: 500;
  display: inline-block;
  padding: 0 2.4rem 0 2.4rem;
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin-bottom: 4.8rem;
}

.about-contents{
  border-top: 5px solid black
}

.about-titles{
  margin-top: 3.2rem;
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.about-titles > :nth-child(1){
  grid-column: 1/3;
}

.about-titles > :nth-child(2){
  grid-column: 3/5;
}


.about-titles > :nth-child(3){
  grid-column: 2/4;
}
