* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #333;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* section Hero Starts */
.section-hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #aeafb0;
  color: #1e293b;
  justify-content: center;
  transition: all 1s ease;

}

.hero-img {
  width: 100%;
  display: block;
}

.hero-text-box {
  padding: 12.8rem 4.8rem 4.8rem 4.8rem;
  text-align: left;
}

.hero-intro {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.hero-heading {
  font-size: 6.4rem;
  margin-bottom: 0.8rem;
}

.hero-desc {
  font-size: 2.4rem;
  margin-bottom: 4.8rem;
}

.hero-text-box div {
  text-align: center;
  margin-bottom: 8rem;
}

.resume-btn {
  font-size: 2.4rem;
  text-decoration: none;
  color: #f1f5f9;
  background-color: #072a30;
  display: inline-block;
  padding: 1.2rem;
  border-radius: 9px;
  margin-bottom: 0.8rem;
  transition: all 1s ease;

}

.btn{
  font-size: 2.4rem;
  padding: 1.2rem;
  background-color:#072a30;
  border: none;
  border-radius: 9px;
  color: #f1f5f9;
  transition: all 1s ease;

}

.download-count {
  font-size: 1.8rem;
  font-weight: 500;
}

.download-count strong {
  font-size: 2.4rem;
  color: #f1f5f9;
}

.hero-icon-section {
  display: flex;
  justify-content: center;
  gap: 3.2rem;
}

.social-logo {
  height: 3.2rem;
  width: 3.2rem;
  fill: #f1f5f9;
  background-color: #072a30;
  border-radius: 50%;
  padding: 0.8rem;
}

.hero-description {
  background-color: #116a77;
  color: #dfe3ea;
  padding: 2.4rem;
  text-align: left;
  transition: all 1s ease;

}

.desc-text {
  font-size: 1.8rem;
  line-height: 2.4rem;
}

/* About section starts */
.section-about {
  background-color: #aeafb0;
  padding-top: 8rem;
  color: #1e293b;
  transition: all 1s ease;

}

.about-header,
.about-content {
  width: 50%;
  transform: translateX(50%);
}

.about-heading {
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  border: 5px solid black;
  display: inline-block;
  padding: 0.8rem 4.8rem;
  margin-bottom: 4.8rem;
}

.about-intro-text {
  font-size: 1.8rem;
  margin-bottom: 4.8rem;
}

.about-subheading {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-weight: 500;
  display: inline-block;
  padding: 0 2.4rem 0 2.4rem;
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin-bottom: 4.8rem;
}

.about-contents {
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  margin-bottom: 3.2rem;
}

.about-titles {
  margin-top: 3.2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6.4rem;
  text-align: left;
  width: 80%;
  transform: translateX(20%);
  margin-bottom: 9.6rem;
}

.about-titles > :nth-child(1) {
  grid-column: 1/3;
}

.about-titles > :nth-child(2) {
  grid-column: 3/5;
}

.about-titles > :nth-child(3) {
  grid-column: 2/4;
}

.about-title {
  position: relative;
}

.icon {
  height: 6.2rem;
  width: 6.2rem;
  position: absolute;
  color: #dfe3ea;
  left: -4rem;
  top: -2rem;
  z-index: -10;
}

.title-heading {
  font-size: 2.4rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.2rem;
}

.about-desc {
  font-size: 1.5rem;
}

.about-skills {
  width: 70%;
  transform: translateX(20%);
}

.subheading {
  text-align: left;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.3rem;
  color: #000;
  margin-bottom: 2.4rem;
}

.technologies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4.8rem;
}

.tech-icons {
  height: 8rem;
  width: 8rem;
}

.technologies div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.technologies div span {
  font-size: 1.6rem;
}

.tech-icons.html {
  color: #ff4500;
}

.tech-icons.css {
  color: #2965f1;
}

.tech-icons.javascript {
  color: #f7df1e;
  background-color: #000;
  border: none;
}

.tech-icons.python {
  color: #3776ab;
}

.tech-icons.api {
  color: #5f5ffc;
}

.tech-icons.django {
  color: #092e20;
}

.tech-icons.github {
  color: #f05032;
}

.tech-icons.ai {
  color: #3498db;
}

.tech-icons.react {
  color: #61dafb;
}

.tech-icons.docker {
  color: #2496ed;
}

.tech-icons.node {
  color: #339933;
}

.margin-top {
  margin-top: 2.4rem;
}

.portfolio-image {
  background-image: url("./assets/Profile.jpg");
  padding: 4.8rem;
  margin-top: 9.6rem;
}

.portfolio-text {
  font-size: 4.8rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

/* ribbon section */
.section-ribbon {
  background-color: #116a77;
  color: #dfe3ea;
  padding: 2.4rem;
}

.ribbon-text {
  font-size: 2rem;
  font-weight: 600;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card-image {
  overflow: hidden;
}

.img-link {
  display: block;
  transition: all 0.5s;
}

.img-link:link,
.img-link:visited {
  text-decoration: none;
}

.img-link:hover,
.img-link:active {
  transform: scale(1.1);
}

.card-text.omnifood {
  background-image: linear-gradient(
      to right bottom,
      rgba(7, 42, 48, 0.5),
      rgba(211, 246, 252, 0.5)
    ),
    url(./assets/omnifood.jpg);
  height: 24rem;
  background-position: center;
  background-size: cover;
}

.card-text.blog {
  background-image: linear-gradient(
      to right bottom,
      rgba(7, 42, 48, 0.5),
      rgba(211, 246, 252, 0.5)
    ),
    url(./assets/blog.png);
  height: 24rem;
  background-position: center;
  background-size: cover;
}

.card-text.api {
  background-image: linear-gradient(
      to right bottom,
      rgba(7, 42, 48, 0.5),
      rgba(211, 246, 252, 0.5)
    ),
    url(./assets/api.jpg);
  height: 24rem;
  background-position: center;
  background-size: cover;
}

.card-text.imageClassification {
  background-image: linear-gradient(
      to right bottom,
      rgba(7, 42, 48, 0.5),
      rgba(211, 246, 252, 0.5)
    ),
    url(./assets/cat.png);
  height: 24rem;
  background-position: center;
  background-size: cover;
}

.card-text.pricePrediction {
  background-image: linear-gradient(
      to right bottom,
      rgba(7, 42, 48, 0.5),
      rgba(211, 246, 252, 0.5)
    ),
    url(./assets/price.jpg);
  height: 24rem;
  background-position: center;
  background-size: cover;
}

.card-text.heartDiseaseAnalysis {
  background-image: linear-gradient(
      to right bottom,
      rgba(7, 42, 48, 0.5),
      rgba(211, 246, 252, 0.5)
    ),
    url(./assets/heart.jpg);
  height: 24rem;
  background-position: center;
  background-size: cover;
}

.card-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2.4rem;
  text-transform: uppercase;
  font-weight: 600;
}
