/* for smaller laptops or computers 1200px */
@media (max-width: 75em){
    html{
        font-size: 56.25%;
    }
}

@media(max-width: 70em){
    html {
        font-size: 50%;
    }
}

/* below 900 tablets */
@media(max-width:56em){
    html{
        font-size: 50%;
    }

    .section-hero{
        grid-template-columns: 1fr;
        background-color: transparent;
    }

    .hero-img{
        display: none;
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
    }

    .hero-text-box::before{
        content: "";
        background-image:linear-gradient(to right bottom, rgba(11, 16, 29, 0.7),rgba(11, 16, 29, 0.7)),url(./assets/Profile.jpg);
        background-position:center;
        background-size: cover;
        position: absolute;
        inset: 0;
        opacity: 0.5;
        z-index: 0;
        
    }

    .hero-text-box {
        position: relative;
        z-index: 1;
        
    }

    .hero-text-box > * {
        position: relative;
        z-index: 1;
    }

    .about-titles{
        grid-template-columns: 1fr;
    }

    .about-titles > :nth-child(1){
        grid-column: 1/-1;
        grid-row: 1/2;
    }

     .about-titles > :nth-child(2){
        grid-column: 1/-1;
        grid-row: 2/3;
    }

     .about-titles > :nth-child(3){
        grid-column: 1/-1;
        grid-row: 3/4;
    }

}

@media(max-width:36em){
    html{
        font-size: 43.75%;
    }

    .technologies{
        grid-template-columns: repeat(2,1fr);
    }

    .gallery{
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width:28.4em){
    html{
        font-size: 37.5%;
    }
}